[Desktop Entry]
Encoding=UTF-8
Name=BTR
Comment=BTR P2P Cryptocurrency
Comment[fr]=BTR, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BTR, eşten eşe kriptografik sanal para birimi
Exec=btr-qt %u
Terminal=false
Type=Application
Icon=btr128
MimeType=x-scheme-handler/btr;
Categories=Office;Finance;
